<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation App</title>
</head>
<body>
    <h1>Movie Recommendation App</h1>
    <form action="/" method="post">
        <label for="genre">Enter your preferred movie genre:</label><br>
        <input type="text" id="genre" name="genre"><br>
        <label for="num_ratings">Enter the number of movie ratings you want to provide:</label><br>
        <input type="number" id="num_ratings" name="num_ratings"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
